<h1>Bem vindo ao cadastro de aulas</h1>
<p>Sara G Meirelles</p>
<table>
    <li> <a href="aulas#new"> Novo </a> </li><br>
    <li> <a href="aulas#new"> Editar </a> </li><br>
    <li> <a href="aulas#new"> Exibir </a> </li><br>
    <li> <a href="aulas#new"> Excluir </a> </li><br>
</table>